<header id="intro">
                    <h1 class="bienvenue">Bienvenue à vous cher voyageur</h1>
        
                    <div class="presentationImage"><img class="moi" src="assets/Images/moiAmsterdam.JPG" alt="moi amsterdam"> </div>
                    <p class="presentation">Je viens vous présenter le nouveau site  fait par moi. Vous découvrirez de fabuleuses destinations  insolites qui vous donneront l'envie d'aimer le voyage.</p>

                </header>

                <nav id="navHomePage">
                        <ul class="menu">
                            <li routerLinkActive="active"><a routerLink="">Accueil</a></li>
                            <li routerLinkActive="active"><a routerLink="auth">Connexion</a></li>
                            <li routerLinkActive="active"><a routerLink="photos" title="Photos des lemur!">Photo</a></li>
                            <li routerLinkActive="active"><a routerLink="photo/new">ajouter</a></li>
                        </ul>
                        <ul class="icons">
                            <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                            <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                            <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                            <li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
                        </ul>
                </nav>