<header id="intro">
                    <h1 class="bienvenue">Bienvenue à vous cher voyageur</h1>
        
                    <div class="presentationImage"><img class="moi" src="assets/Images/moiAmsterdam.JPG" alt="moi amsterdam"> </div>
                    <p class="presentation">Je viens vous présenter le nouveau site  fait par moi. Vous découvrirez de fabuleuses destinations  insolites qui vous donneront l'envie d'aimer le voyage.</p>

                </header>

                <nav id="navHomePage">
                        <ul class="menu">
                            <li class="active"><a href="#">Accueil</a></li>
                            <li><a href ="">Lemur</a></li>
                            <li><a href="Voyage_du_lemurien2.html" title="Photos des lemur!" target="_blank">Photo</a></li>
                            <li><a href="">Voyage</a></li>
                            <li><a href="">Commerce</a></li>
                            <li><a href="">Recrutement</a></li>
                        </ul>
                        <ul class="icons">
                            <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                            <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                            <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                            <li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
                        </ul>
                </nav>