 <ul class="listesommaire">
                            <li><a href="#what"> Qu'est ce que je fait?</a></li>
                            <li><a href="#which"> Garantie</a> </li>
                            <li><a href="#who"> Les lémur</a> </li>
                            <li><a href="#how"> Respect de l'environnement</a> </li>
                            <li><a href="#where"> Partenaire</a> </li>
                            <li><a href="#and"> Et encore</a> </li>
                            <li><a href="#more"> menu</a> 
                            <li><a href="#contact"> contact</a> </li>
                    </ul>

                    <section class="posts">
                        <header class="major">
                            <h2 id="what">Qu'est ce que je fait?</h2>

                            <p class="queFaitOn">Je vous présente plusieurs destinations avec des photos.
                            Choississez celles que vous voulez   et vous pouvez les like ou bien les enregistrer dans votre espace perso. Nous disposons  d'un site e commerce pour vous permettre d'acheter les produits locaux équithable de notre pays.</p>   
                        </header>
                         
                        <div class="presentationImage"><a href="assetsImages/londonnight.JPG"><img class="london" src="assets/Images/londonnight.JPG" alt="london"></a></div>
                        
                    </section>

                    <section class="posts">

                        <header class="major">
                            <h2 id="which">Garantie</h2>

                             <p class="garantie">Notre service est sure, nous garantissons la satisfaction du client et nous sommes prêt à le rembourser si  besoin à 100%.</p>
                        </header>
                        
                        <div class="presentationImage"><a href="assets/Images/marseille.jpg"><img class="marseille" src="assets/Images/marseille.jpg" alt="marseille"></a></div>

                        
                    </section>  

                    <section class="posts">
                        <header class="major">
                            <h2 id="who">Les lémur</h2>

                            <p class="communaute">Car on ne vous laissera pas seul ici, on a une très grande communauté actif pour vous aider  et vous accompagner dans  votre voyage. Vous pouvez recevoir les avis de nos amis les lémurs. On a un  chat intégré et c'est facile à utiliser. </p>

                        </header>
                        
                        <div class="presentationImage"> <a href="assets/Images/ruemalte.JPG"><img class="ruemalte" src="assets/Images/ruemalte.JPG" alt="ruemalte"></a></div>
                        
                    </section>

                    <section class="posts">
                        <header class="major">
                            <h2 id="how">Respect de l'environnement</h2>

                            <p class="environnement">Ce qui me caractérise c'est l'envie de vous faire  voyager non seulement par nos photos mais également sur le terrain. On favorise le commerce  équitable qui nous parait juste pour nos producteurs. Qui n'a jamais révé de voyager comme Indiana Jones? Je suis soucieux de notre monde et on participe au développement d'idée pour améliorer la vie environnementale de notre planète. </p>
                        </header>
                        
                        <div class="presentationImage"> <a href="assets/Images/belemLisbonne.JPG"><img class="belemtower" src="assets/Images/belemLisbonne.JPG" alt="lémurien noir et blanc"></a></div>
                    </section>
                   

                    <section class="posts">
                        <header class="major">
                            <h2 id="where">Partenaire </h2>
                        </header>

                        <div class="sitePartenaire">
                            <p>Le site wikipedia malgache: <a href="https://fr.wikipedia.org/wiki/Madagascar" title="wikipedia madagascar" target="_blank">wikipedia</a></p>

                            <p>Info détaillé sur madagascar: <a href="https://stileex.xyz/madagascar/" title="info madagascar" target="_blank"> info</a></p>

                            <p>Tripadvisor madagascar : <a href="https://www.tripadvisor.fr/Tourism-g293808-Madagascar-Vacations.html" title="tripadvisor madagascar" target="_blank"> tripadvisor</a></p>
                        
                        </div>
                        
                    </section>

                    <section class="posts">
                        <header class="major">
                           <h2 id="and"> Et encore plus</h2>

                            <p class="encorePlus"> <strong>Et Oui </strong> j'ai plus à vous présenter avec nos séminaire et les news qui concerne notre pays alors go  ensemble dans cette nouvelle avanture. </p>  
                        </header>
                        
                        <div class="presentationImage"><a href="assets/Images/tanacapitale.JPG"><img src="assets/Images/tanacapitale.JPG" alt="tanacapitale "></a></div>

                        
                    </section>
