@import url(fontawesome-all.min.css);


html {
		font-size: 16pt;
	}

		@media screen and (max-width: 1680px) {

			html {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 1280px) {

			html {
				font-size: 11pt;
			}

		}

		@media screen and (max-width: 360px) {

			html {
				font-size: 10pt;
			}

		}

/*Body*/

body, input, select, textarea {
		font-family: "Merriweather", Georgia, serif;
		font-weight: 300;
		font-size: 1rem;
		line-height: 2.375;
	}

body {
 	background-color: #212931;
 	width: 100%;
	height: 100%;
	background-color: #212931;
	background-image: url("../Images/overlay.png"), linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../Images/bg.jpg");
	background-size: auto,								auto,														100% auto;
	background-position: center,								center,														top center;
	background-repeat: repeat,								no-repeat,													no-repeat;
	background-attachment: scroll,								scroll,														scroll;
			
		
}

@media screen and (max-width: 480px) {

		html, body {
			min-width: 320px;
		}

	}
