<section class="addPhoto">
<h2 class="titleform">Ajout d'une photo</h2>

									<form  class="formaddPhoto" [formGroup]="addPhotoForm" (ngSubmit)="onSubmitForm()">
										<div class="row gtr-uniform">
											<div class="col-6 col-12-xsmall">
												<label for="namePhoto">Titre</label>
												<input type="text" formControlName="namePhoto" id="namePhoto" value="" placeholder="Name" />
											</div>
											<!-- Break -->
											<div class="col-12">
												<label for="category">catégorie</label>
												<select formControlName="catégorie" id="category">
													<option value="">- Category -</option>
													<option value="1">Manufacturing</option>
													<option value="1">Shipping</option>
													<option value="1">Administration</option>
													<option value="1">Human Resources</option>
												</select>
											</div>
											<!-- Break -->
											<div class="col-12">
												<label for="description">La description</label>
												<textarea formControlName="description" id="description" placeholder="Enter your message" rows="6"></textarea>
											</div>
											<!-- Break -->
											<div class="col-12">
												<ul class="actions">
													<li><input type="submit" value="Ajouter la photo" class="submitAddPhoto" [disabled]="addPhotoForm.invalid" /></li>
												</ul>
											</div>
										</div>
									</form>
</section>